################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestWorkspace/v14/.suo
/TestWorkspace/App.config
